<?php
define('DB_HOST', 'localhost');
define('DB_USERNAME','rsvp');
define('DB_PASSWORD','mypassword');
define('DB_NAME','rsvp');
define('DB_PORT', 3306);
define('LOG_PATH', 'C:/php/logs');
define('DEBUG', false);
define('PINGBACK_KEY', 'mykey');
define('SMTP_HOST', 'smtp.example.com');
define('SMTP_PORT', 587);
define('SMTP_USERNAME', 'admin@example.com');
define('SMTP_PASSWORD', '123456');
define('FROM_EMAIL', 'admin@example.com');
define('BACKEND_URL', 'http://localhost:9000');
define('FRONTEND_URL', 'http://localhost:9001');
define('AES_KEY', '123456');
define('DISCORD_WEBHOOK_URL', '');
?>
