<?php
define('DB_HOST', 'localhost');
define('DB_USERNAME','rsvp');
define('DB_PASSWORD','mypassword');
define('DB_NAME','rsvp');
define('DB_PORT', 3306);
define('LOG_PATH', 'C:/php/logs');
define('DEBUG', false);
define('PINGBACK_KEY', 'mykey');
define('SMTP_HOST', 'smtp.example.com');
define('SMTP_PORT', 587);
define('SMTP_USERNAME', 'admin@example.com');
define('SMTP_PASSWORD', '123456');
define('FROM_EMAIL', 'admin@example.com');
define('BACKEND_URL', 'http://localhost:9000');
define('FRONTEND_URL', 'http://localhost:9001');
define('AES_KEY', '123456');
define('DISCORD_WEBHOOK_URL', '');
define('REDIS_PASSWORD', 'mypassword');
define('CENTER_SERVER_HOST', '127.0.0.1');
define('CENTER_SERVER_PORT', 8383);
define('LOGIN_SERVER_HOST', '127.0.0.1');
define('LOGIN_SERVER_PORT', 8484);
define('GAME_SERVER_HOST', '127.0.0.1');
define('GAME_SERVER_PORT', 8585);
define('RECAPTCHA_SECRET', '123456');
define('RECAPTCHA_KEYFILE', '123456.json');
?>
